body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.button-container a {
    text-decoration: none;
}

.button-container button, .button-container a {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.table-container {
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: #fff;
}

form {
    text-align: center;
    margin-top: 20px;
}

form button, form a {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
}